<!DOCTYPE html>
<html class="no-js" lang="pt-br" id="htmlpage" ng-app>
<head>
    <title>Just a simple test ;-)</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
</head>
<body>
    <h1>Site do cliente</h1>
    <hr />

    <h2>Agende seu horário</h2>
    <br />

    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="http://191.252.2.112:91/?customerKey=AA5CBEEC-1EE5-431D-AA1C-C9239F5821FA"></iframe>
    </div>
</body>
</html>

