/.vs/AgendaTech/v15/Server/sqlite3/db.lock
/.vs/AgendaTech/v15/Server/sqlite3/storage.ide
/.vs/AgendaTech/v15/Server/sqlite3/storage.ide-shm
/.vs/AgendaTech/v15/Server/sqlite3/storage.ide-wal
/frontend/obj/Debug/Package/PackageTmp/Content/images/layout/bg-menu-big.jpg
/frontend/obj/Debug/Package/PackageTmp/Content/images/layout/bg-menu-mini.jpg
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/Fechamento/Fechamento.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/apuracao/apuracaoCFOPRef.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/apuracao/create-condicao-credito.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/apuracao/create-condicao-receita.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/apuracao/credito.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/apuracao/edit-regra-credito.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/apuracao/edit-regra-receita.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/apuracao/receita.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/apuracao/saldosIniciais.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/configuracoes.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/cruzamento/carga/carga.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/cruzamento/carga/carga_old.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/cruzamento/detalhe/detalhe.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/cruzamento/logs/logs.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/cruzamento/resumo/resumo.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/cruzamento/tarefas/tarefas.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/devolucaonotas.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/devolucaoprodutos.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/documentosfiscais/documentosfiscais.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/edicaomultipla/filters.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/graficos/grafico.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/historico.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/logs/logs.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/registers/customers/customers.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/registers/professionals/professional.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/relatorios/analitico.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/relatorios/anual.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/relatorios/logo-mosaic.png
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/relatorios/rateio.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/relatorios/relatorios.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/utilidades/jobs.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/validacoes/validacoes.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/validacoes/validacoes_detalhes.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/validacoes/validacoes_documentos.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/validacoes/validacoes_summary.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/app/valoresmanuais/valoresmanuais.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/mosaic-script.js
/frontend/obj/Debug/Package/PackageTmp/Content/js/mosaic-script.min.js
/frontend/obj/Debug/Package/PackageTmp/Content/mosaic-default.css
/frontend/obj/Debug/Package/PackageTmp/Views/Customers/Index.cshtml
/frontend/obj/Debug/Package/PackageTmp/Views/DocumentosFiscais/Index.cshtml
/frontend/obj/Debug/Package/PackageTmp/Views/Empresa/Index.cshtml
/frontend/obj/Debug/Package/PackageTmp/Views/Login/Confirm.cshtml
/frontend/obj/Debug/Package/PackageTmp/Views/Login/Index.cshtml
/frontend/obj/Debug/Package/PackageTmp/Views/Login/RestorePass.cshtml
/frontend/obj/Debug/Package/PackageTmp/Views/Login/SelectCNPJ.cshtml
/frontend/obj/Debug/Package/PackageTmp/Views/Login/UpdatePass.cshtml
/frontend/obj/Debug/Package/PackageTmp/Views/Mensagens/Index.cshtml
/frontend/obj/Debug/Package/PackageTmp/Views/Professionals/Index.cshtml
/frontend/obj/Debug/Package/PackageTmp/Views/Registrar/Confirm.cshtml
/frontend/obj/Debug/Package/PackageTmp/Views/Registrar/Index.cshtml
/frontend/obj/Debug/Package/PackageTmp/Views/Relatorios/Analitico.cshtml
/frontend/obj/Debug/Package/PackageTmp/Views/Relatorios/Anual.cshtml
/frontend/obj/Debug/Package/PackageTmp/Views/Relatorios/Mensal.cshtml
/frontend/obj/Debug/Package/PackageTmp/Views/Relatorios/Notas.cshtml
/frontend/obj/Debug/Package/PackageTmp/Views/Services/Index.cshtml
/frontend/obj/Debug/Package/PackageTmp/Views/Shared/_FilterDocs.cshtml
/frontend/obj/Debug/Package/PackageTmp/Views/Shared/_FilterReports.cshtml
/frontend/obj/Debug/Package/PackageTmp/Views/Shared/_FilterSaldos.cshtml
/frontend/obj/Debug/Package/PackageTmp/Views/Users/Index.cshtml
/frontend/obj/Debug/Package/PackageTmp/Views/Usuarios/Create.cshtml
/frontend/obj/Debug/Package/PackageTmp/Views/Usuarios/Details.cshtml
/frontend/obj/Debug/Package/PackageTmp/Views/Usuarios/Edit.cshtml
/frontend/obj/Debug/Package/PackageTmp/Views/Usuarios/Index.cshtml
/frontend/obj/Debug/Package/PackageTmp/bin/AgendaTech.View.dll
/frontend/obj/Debug/Package/PackageTmp/bin/BrockAllen.MembershipReboot.Ef.dll
/frontend/obj/Debug/Package/PackageTmp/bin/BrockAllen.MembershipReboot.WebHost.dll
/frontend/obj/Debug/Package/PackageTmp/bin/BrockAllen.MembershipReboot.dll
/frontend/obj/Debug/Package/PackageTmp/bin/Content/js/app/relatorios/logo-mosaic.png
/frontend/obj/Debug/Package/PackageTmp/bin/Content/mosaic-default.css
/frontend/obj/Debug/Package/PackageTmp/bin/de/BrockAllen.MembershipReboot.resources.dll
/frontend/obj/Debug/Package/PackageTmp/bin/nl-nl/BrockAllen.MembershipReboot.resources.dll
/frontend/obj/Debug/Package/PackageTmp/bin/ru-ru/BrockAllen.MembershipReboot.resources.dll
/publish/Content/images/layout/bg-menu-big.jpg
/publish/Content/images/layout/bg-menu-mini.jpg
