@using AgendaTec.Portal.Helper

@{
    ViewBag.Title = "Home";
}

@section breadcrumbs{
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span> <a href="@Url.Action("Index", "Home")" title="Home">Home</a></li>
        <li class="active">Principal</li>
    </ol>
}

@section Scripts {
    <script src="@Url.Content("/Content/plugins/jquery-ui/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Content/js/app/home.js")" type="text/javascript"></script>

    <script type="text/javascript">
        /* -- Setar Class em expand menu -- */
        window.onload = setActiveMenu;
        function setActiveMenu() {
            $('li#usuarios').addClass('active');
            $('.mini-nav ul li#usuarios ul').attr('style', 'display: none !important;');
        }
        $(document).ready(function () {
            PageSetup();
        });
    </script>
}

<div class="row" style="margin-left:5px">
    <h1>Olá @User.GetFirstName()! Esta é a sua agenda de hoje:</h1>
</div>

<br />
<hr />

<div id='calendar' style="max-width: 900px;"></div>