@{
    ViewBag.Title = "Profissionais";
}

@section breadcrumbs{
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span> <a href="@Url.Action("Index", "Home")" title="Home">Home</a></li>
        <li>Cadastros</li>
        <li class="active">Profissionais</li>
    </ol>
}

@section scripts {
    <script src="@Url.Content("/Content/js/agendatec-script.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Content/js/app/registers/professionals/professional.js")" type="text/javascript"></script>
    <script type="text/javascript">
        /* -- Setar Class em expand menu -- */
        window.onload = setActiveMenu;
        function setActiveMenu() {
            $('li#usuarios').addClass('active');
            $('.mini-nav ul li#usuarios ul').attr('style', 'display: none !important;');
        }
        $(document).ready(function () {
            PageSetup();
        });
    </script>
}

<h1>Profissionais</h1>
<br />

<div class="panel-group" id="accordion">
    <div class="panel panel-primary">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFilter">
            <h4 class="panel-title">
                <small><span class="glyphicon glyphicon-chevron-right"></span></small> Filtros
            </h4>
        </div>
        <div id="collapseFilter" class="panel-collapse">
            <div class="panel-body">
                <div class="row">
                    <form>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label><strong>Razão Social</strong></label>
                                        <input id="ddlCustomerFilter" name="ddlCustomerFilter" class="filter" style="width: 100%;" data-required="true" />
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label><strong>Nome</strong></label>
                                        <input type="text" id="txtNameFilter" name="txtNameFilter" data-field="Name" data-operator="contains" placeholder="Nome" class="k-textbox filter" style="width: 100%;" maxlength="80"  />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group" style="text-align:right">
                                <button type="button" id="btnClear" class="btn btn-danger btn-xs">
                                    <span class="glyphicon glyphicon-remove"></span> Limpar
                                </button>
                                <button type="button" id="btnSearch" class="btn btn-primary btn-xs">
                                    <span class="glyphicon glyphicon-search"></span> Pesquisar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <button id="btnAddProfessional" type="button" class="btn btn-primary btn-xs" style="float: right;"><span class="glyphicon glyphicon-plus-sign"></span> Incluir</button>
    <br /><br />
</div>

<div class="row" style="margin-bottom: 15px;">
    <div class="col-sm-12">
        <div id="grid"></div>
    </div>
</div>

<div id="modalProfessionalEdit" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="javascript: { CloseModal(this); }" aria-hidden="true">×</button>
                <center><h4 class="modal-title"><strong></strong></h4></center>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="hiddenId" />
                    <input type="hidden" id="hiddenIdUser" />
                    <form id="serviceForm">
                        <div class="col-xs-12">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 0px;">
                                <div class="form-group">
                                    <label for="ddlCustomer" style="font-weight:bold">Razão Social</label> <br />
                                    <input id="ddlCustomer" data-field="ddlCustomer" style="width: 100%;" required />
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="padding-bottom: 0px;">
                                <div class="form-group">
                                    <label for="txtName" style="font-weight:bold">Nome</label> <br />
                                    <input id="txtName" name="txtName" type="text" class="k-textbox" placeholder="Nome" style="width: 100%" maxlength="80">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding-bottom: 0px;">
                                <div class="form-group">
                                    <label for="dtBirthday" style="font-weight:bold">Data de Nascimento</label> <br />
                                    <input id="dtBirthday" name="dtBirthday" style="width: 100%">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding-bottom: 0px;">
                                <div class="form-group">
                                    <label for="txtPhone" style="font-weight:bold">Telefone</label> <br />
                                    <input id="txtPhone" name="txtPhone" type="text" class="k-textbox" placeholder="Telefone" style="width: 100%" maxlength="50">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding-bottom: 0px;">
                                <div class="form-group">
                                    <label for="txtCPF" style="font-weight:bold">CPF</label> <br />
                                    <input id="txtCPF" name="txtCPF" type="text" class="k-textbox" placeholder="CPF" style="width: 100%" maxlength="30" required>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="padding-bottom: 0px;">
                                <div class="form-group">
                                    <label for="txtEmail" style="font-weight:bold">E-mail</label> <br />
                                    <input id="txtEmail" name="txtEmail" type="text" class="k-textbox" placeholder="E-mail" style="width: 100%" maxlength="80" required>
                                </div>
                            </div>
                            
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 0px;">
                                <div class="form-group">
                                    <h2>Serviços</h2>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-bottom: 0px;">
                                <div class="form-group">
                                    <label for="lstAvailables" style="font-weight:bold">Disponíveis</label><br />
                                    <select id="lstAvailables" style="width: 100%"></select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-bottom: 0px;">
                                <div class="form-group">
                                    <label for="lstSelecteds" style="font-weight:bold">Selecionados</label><br />
                                    <select id="lstSelecteds" style="width: 100%"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancel" class="btn btn-danger btn-xs" onclick="javascript: { CloseModal(this); }">
                    <span class="glyphicon glyphicon-remove"></span> Cancelar
                </button>
                <button type="button" id="btnSave" class="btn btn-primary btn-xs" onclick="javascript: { SaveProfessional(); }">
                    <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
                </button>
            </div>
        </div>
    </div>
</div>