@{
    ViewBag.Title = "Customers";
}

@section breadcrumbs{
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span> <a href="@Url.Action("Index", "Home")" title="Home">Home</a></li>
        <li>Cadastros</li>
        <li class="active">Clientes</li>
    </ol>
}

@section scripts {
    <script src="@Url.Content("/Content/js/agendatec-script.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Content/js/app/registers/customers/customers.js")" type="text/javascript"></script>
    <script type="text/javascript">
        /* -- Setar Class em expand menu -- */
        window.onload = setActiveMenu;
        function setActiveMenu() {
            $('li#usuarios').addClass('active');
            $('.mini-nav ul li#usuarios ul').attr('style', 'display: none !important;');
        }
        $(document).ready(function () {
            PageSetup();
        });
    </script>
}

<h1>Clientes</h1>
<br />

<div class="panel-group" id="accordion">
    <div class="panel panel-primary">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFilter">
            <h4 class="panel-title">
                <small><span class="glyphicon glyphicon-chevron-right"></span></small> Filtros
            </h4>
        </div>
        <div id="collapseFilter" class="panel-collapse">
            <div class="panel-body">
                <div class="row">
                    <form>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label><strong>Razão Social</strong></label>
                                        <input type="text" id="txtCompanyNameFilter" name="txtCompanyNameFilter" data-field="Nome" data-operator="contains" placeholder="Razão Social" class="k-textbox filter" style="width: 100%;" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group" style="text-align:right">
                                <button type="button" id="btnClear" class="btn btn-danger btn-xs">
                                    <span class="glyphicon glyphicon-remove"></span> Limpar
                                </button>
                                <button type="button" id="btnSearch" class="btn btn-primary btn-xs">
                                    <span class="glyphicon glyphicon-search"></span> Pesquisar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <button id="btnAddCustomer" type="button" class="btn btn-primary btn-xs" style="float: right;"><span class="glyphicon glyphicon-plus-sign"></span> Incluir</button>
    <br /><br />
</div>

<div class="row" style="margin-bottom: 15px;">
    <div class="col-sm-12">
        <div id="grid"></div>
    </div>
</div>

<div id="modalCustomerEdit" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="javascript: { CloseModal(this); }" aria-hidden="true">×</button>
                <center><h4 class="modal-title"><strong></strong></h4></center>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="hiddenIDCustomer" />
                    <form id="usuarioForm">
                        <div class="col-xs-12">
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="padding-bottom: 0px;">
                                <div class="form-group">
                                    <label for="txtCompanyName" style="font-weight:bold">Razão Social</label> <br />
                                    <input type="text" class="k-textbox" id="txtCompanyName" name="txtCompanyName" placeholder="Razão Social" style="width: 100%" minlength="2">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-bottom: 0px;">
                                <div class="form-group">
                                    <label for="txtCNPJ">CPF / CNPJ</label> <br />
                                    <input type="text" class="k-textbox" id="txtCNPJ" name="txtCNPJ" placeholder="CNPJ" maxlength="18" style="width: 100%">
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 0px;">
                                <div class="form-group">
                                    <label for="txtAddress" style="font-weight:bold">Endereço</label> <br />
                                    <input type="text" class="k-textbox" id="txtAddress" name="txtAddress" placeholder="Endereço" style="width: 100%">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-bottom: 0px;">
                                <div class="form-group">
                                    <label for="txtPhone" style="font-weight:bold">Telefone</label> <br />
                                    <input type="text" class="k-textbox" id="txtPhone" name="txtPhone" placeholder="Telefone" style="width: 100%">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-bottom: 0px;">
                                <div class="form-group">
                                    <label for="dtHireDate" style="font-weight:bold">Data de Contratação</label> <br />
                                    <input id="dtHireDate" name="dtHireDate" style="width: 100%">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-bottom: 0px;">
                                <div class="form-group">
                                    <label for="chkActive" style="font-weight:bold">Status</label> <br />
                                    <input id="chkActive" type="checkbox" data-field="chkActive" checked data-on-text="ATIVO" data-off-text="INATIVO" data-size="small" style="width: 100%;">
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 0px;">
                                <div class="form-group">
                                    <label for="txtNote">Observação</label> <br />
                                    <textarea id="txtNote" maxlength="500" rows="4" class="k-textbox" name="txtNote" placeholder="Observação" style="width: 100%"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancel" class="btn btn-danger btn-xs" onclick="javascript: { CloseModal(this); }">
                    <span class="glyphicon glyphicon-remove"></span> Cancelar
                </button>
                <button type="button" id="btnSave" class="btn btn-primary btn-xs" onclick="javascript: { SaveCustomer(); }">
                    <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
                </button>
            </div>
        </div>
    </div>
</div>