@model AgendaTec.Client.Models.ExternalLoginListViewModel

@{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
        @Html.AntiForgeryToken()
    <div id="socialLoginList">
        <button type="submit" class="loginBtn loginBtn--google" id="Google" name="provider" value="Google" title="Entrar com Google">
            Entrar com Google
        </button>

        <button class="loginBtn loginBtn--facebook">
            Login with Facebook
        </button>
    </div>
    }
}
